/*Обнуление*/
*,
::before,
::after {
box-sizing: border-box;
}

html {
font-size: 0.0817vw; /* for width: 1224px;*/
padding: 0;
margin: 0;
width: 100%;
height: 100%;
}

body {
position: relative;
padding: 0;
margin: 0 0 200rem 0;
width: 100%;
font-size: 14rem;
font-family:'Noto Serif', serif;
}

body:before {
width: 300px;
height: 100px;
background: red;
}

body:after {
width: 300rem;
height: 100rem;
background:#00ff0099;
}

body:before,
body:after {
content: "камертон";
position: fixed;
top: 10px;
left: 20px;
z-index: 1000000;
display: none;
}

@media screen and (min-width: 1140px) { /*экран больше 1224*/
html{
font-size: 1px;}
}


@media screen and (max-width: 768px){
	.content__text p {
		display:none;
	}
	.logo__container {
		display:none;
	}
	.wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.main__content h1{
		width: 100%;
		font-size: 60rem;
	}
	.content__windows .wrapper__windows{
		margin: 0 auto;
		text-align: center;
	}
	header .header__text span{
		font-size: 18px;
	}
	header .header__images {
		max-width: 300px;
	}
}
	
@media screen and (max-width: 480px){
	.content__text p {
		display:none;
	}
	.logo__container {
		display:none;
	}
	.wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.main__content h1{
		width: 100%;
		font-size: 5rem;
	}
	.content__windows .wrapper__windows{
		margin: 0 auto;
		text-align: center;
	}
	header .header__text span{
		font-size: 16px;
	}
	header .header__images {
		max-width: 300px;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px){
	.content__text p {
		display:none;
	}
	.logo__container {
		display:none;
	}
	.wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.main__content h1{
		width: 100%;
		font-size: 40rem;
	}
	.content__windows .wrapper__windows{
		text-align: center;
	}
	header .header__text span{
		font-size: 14px;
	}
	header .header__images {
		max-width: 250px;
	}
}



/*wrapper*/
.wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper .wrapper__images1{
	background: url(../images/Dizainvashapomos.gif) no-repeat;
	object-fit: cover;
	-o-object-fit: cover;
	width: 100%;
	top: 0px;
}

.wrapper .container{
	position: relative;
 	width: 60%;
	height: 100%;
	margin: 0 auto;
	z-index: 1;
	
}

/*header*/

.header{
	display: inline-block;
	width: 100%;
	margin: 13rem;
}

.header .header__images{
	float: left;
	display: block;
	min-width: 370rem;
	margin: -5rem 0 0 0;
}

.header .header__text{
	float: right;
	display: block;
	margin: 50rem 0 0 0;
	font-size: 20px;
	color: #fff;
	font-family:'Noto Serif', serif;
}

.header .header__text span{
	display: block;
	text-align: right;
}

.header .header__text .header__tel{
	float: right;
	font-size: 26px;
	color:#dee4d5;
}

/*content*/

.content{
 	width: 100%;
	font-family:'Noto Serif', serif;
}

/*main__content*/

.main__content h1{
	display: block;
	width: 65%;
	padding: 0;
	text-align: left;
	font-size: 80rem;
	color: #fff;
	font-weight: 400;
	line-height: 115%;
	margin: 42rem 0 28rem 0;
}
/*
.main__content .content__button{
	width: 340px;
	height: 80px;
}*/

.main__content .content__button a{
	color: #fff;
	text-decoration: none;
	outline: none;
	font-size: 20rem;
	font-weight: 500;
	letter-spacing: 0.031rem;
}

.main__content .content__button a{
	display: inline-block;
	padding: 25px 55px;
	margin: 0 0 10rem 0;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	background-image: linear-gradient( to right,rgba(10,183,153,1) 0%,rgba(7,227,157,1) 50%,rgba(10,183,153,1) 100%);
	background-size: 200% auto;
	-webkit-background-size: 200% auto;
	-o-background-size: 200% auto;
	-moz-background-size: 200% auto;
	box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	-webkit-box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	-moz-box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	transition: .8s;
	-webkit-transition: .8s;
	-o-transition: .8s;
	-moz-transition: .8s;
}

.main__content .content__button a:hover {
	background-position: right center;
} 

.main__content .content__button a:active {
	background-image: linear-gradient( to right,rgb(8, 131, 110) 0%,rgb(8, 189, 131) 50%,rgba(8,131,110) 100%);
}

.main__content .content__text {
	display: block;
	font-size: 14rem;
	color: #d5dbce;
	width: 40%;
	padding: 0 0 30rem 0;
	text-transform: uppercase;
	font-family:'Noto Serif', serif;
	letter-spacing: -0.3px;
}

/*content__windows*/

.content__windows{
	width: 100%;
}

.content__windows .content__text2{
	font-size: 38px;
	color: #fff;
	padding: 0;
	margin: 0 0 20rem 0;
	font-family:'Noto Serif', serif;
}

.content__windows .wrapper__windows{
	display: inline-block;
	width: 100%;
	padding: 0 0 0 0;
}

.content__windows .wrapper__windows img{
	max-width: 47%;
	margin: 20px 0 0 -18px;
}

.content__windows .wrapper__windows p{
	display: inline-block;
	margin: 30px 0 0 0;
	width: 55%;
	max-height: 90%;
	color: #000;
	font-weight: 500;
	text-align: left;
	vertical-align: top;
	font-style: italic;
}

.content__windows .wrapper__windows .windows1{
	display: inline-block;
	width: 100%;
}
.content__windows .wrapper__windows .windows2{
	display: inline-block;
	width: 100%;
}

.content__windows .wrapper__windows .windows1 p{
	width: 57%;
	max-height: 80%;
}

.content__windows .wrapper__windows .windows1 .window__text{
	float: left;
	background-color: #fff;
	width: 225px;
	height: 130px;
	margin: 0 20px 20px 0;
	padding: 0 5rem 0 0;
	font-size: 14px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: bottom;
	font-family: 'Noto Serif', serif;
}

.content__windows .wrapper__windows .windows2 .window__text{
	float: left;
	background-color: #fff;
	width: 225px;
	height: 130px;
	margin: 0 20px 65px 0;
	padding: 5rem 3rem 0 0;
	font-size: 14px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: bottom;
	font-family: 'Noto Serif', serif;
}

.content__windows .wrapper__windows .windows1 .window__text.wallet{
	width: 225px;
}
.content__windows .wrapper__windows .windows1 :last-child {
	margin-right: 0;
}

.content__windows .wrapper__windows .windows2 :last-child {
	margin-right: 0;
}

/*content__images*/

.content__images{
	width: 100%;

}

.content__images .numbers p{
	width: 60% ;
	font-size: 16rem;
	font-weight: 500;
	margin: 0 0 0 1.25rem;
	font-style: italic;
}

.content__images .numbers{
	width: 100%;
	vertical-align: top;
}

.content__images .number{
	float: left;
	margin: 0 100rem 100rem -20rem;
}

.content__images .numbers :last-child{
	margin-right: 0rem;
}

.content__images .number .num{
	margin-top: -5rem;
}

.content__images .number img{
	width: 100%;
}

.content__images .cards{
	float: left;
	width: 90%;
	overflow: hidden;
}

.content__images .cards .card{
	float: left;
	margin: 0 200rem 50rem -20rem;
}

.content__images .cards :last-child {
	margin-right: 0;
}

/*form*/

.content__images .forma{
	position: relative;
	float: right;
	display: block;
	margin: -540px 0 0 0;
	width: 330px;
	height: 455px;
	padding: 15px 15px;
	box-shadow: 15px 15px 30px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 15px 15px 30px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 15px 15px 30px 10px rgba(0, 0, 0, 0.13); 
	background-color: #fff;
	z-index: 2;
}

.content__images .forma .border{
	border: 2px dotted #858d9c;
	height: 100%;
	width: 100%;
}

.content__images .forma .border .form{
	height: 100%;
	margin: 0 auto;
}

.content__images .forma .border .form input{
	background-color: #f7f3ff;
	margin: 0 26px 30px 28px;
	font-size: 16px;
	height: 40px;
	width: 240px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-style: italic;
	padding-left: 15px;
	border: none;
}

.content__images .forma .border .form input::-webkit-input-placeholder{
	color: #000;
}
.content__images .forma .border .form input::-moz-placeholder{
	color: #000;
}
.content__images .forma .border .form input:-moz-placeholder{
	color: #000;
}
.content__images .forma .border .form input:-ms-input-placeholder{
	color: #000;
}

.content__images .forma .border .form h3{
	font-size: 18px;
	margin: 25px 0 5px 0;
	font-weight: 600;
	text-align: center;
}

.content__images .forma .border .form p{
	font-size: 16px;
	color: #9a9ea5;
	margin: 0 0 20px 0;
	text-align: center;
	font-style: italic;
}

.content__images .forma .border .form select{
	background-color: #f7f3ff;
	margin: 0 26px 30px 28px;
	font-size: 16px;
	height: 40px;
	width: 240px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-style: italic;
	padding-left: 10px;
	border: none;
}

.content__images .forma .border .form option{
	display: inline-block;
	font-size: 16px;
	margin: 0 0 0 2.1875rem;
	text-align: center;
	font-style: italic;
}

.content__images .forma .border .form .btn{
	color: #fff;
	text-decoration: none;
	outline: none;
	width: 250px;
	height: 60px;
	margin: 1.375rem 0.1875rem 0 0;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.031rem;
	font-style: normal;
	font-family:'Noto Serif', serif;
}

.content__images .forma .border .form .btn{
	display: inline-block;
	padding: 15px 25px;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	background-image: linear-gradient( to right,rgba(10,183,153,1) 0%,rgba(7,227,157,1) 50%,rgba(10,183,153,1) 100%);
	background-size: 200% auto;
	-webkit-background-size: 200% auto;
	-o-background-size: 200% auto;
	-moz-background-size: 200% auto;
	box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	-webkit-box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	-moz-box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486); 
	transition: .8s;
	-webkit-transition: .8s;
	-o-transition: .8s;
	-moz-transition: .8s;
}
	
.content__images .forma .border .form .btn:hover {
	background-position: right center;
} 

.content__images .forma .border .form .btn:active {
background-image: linear-gradient( to right,rgb(8, 131, 110) 0%,rgb(8, 189, 131) 50%,rgba(8,131,110) 100%);
}

/*logo__container*/

.logo__container{
	max-width: 100%;
	clear: both;
	margin-bottom:240rem;
}

.logo__container .logos{
	width: 100%;
} 

.logo__container .logos h2{
	font-size: 30rem;
	text-align: center;
	font-weight: 500;
	margin-bottom: 30rem;
}

.logo__container .logos .logo{
	display: inline-block;
	margin-right: 137rem;
	width: 180rem;
	height: 150rem ;
	text-align: center;
	vertical-align: top;
}

.logo__container .logos p{
	
	width: 90%;
	font-size: 14rem;
	font-weight: 600;
	text-align: center;
}

.logo__container .logos :last-child {
	padding-right: 0rem;
	margin-right: 0rem;
}

/*footer*/
.wrapper__images2{
	background: url(../images/Pofdval.gif);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 5;
}

.wrapper__images2 .footer{
 	max-width: 60%;
	height: 100% ;
	margin: 0 auto;
	padding: 0 0;
	z-index: 1;
}

.wrapper__images2 .footer .footer__images{
	float: left;
	display: block;
	margin: 3% 0 0 0;
	max-width: 100%;
	max-height: 175rem;
}

.wrapper__images2 .footer .footer__text{
	float: right;
	width: 70%;
	height: 100%;
	right: 0;
	top: 0;
}

.wrapper__images2 .footer .footer__text p{
	float: left;
	font-size: 16rem;
	color: #fff;
	margin: 85rem 0 0 40rem;
}

.wrapper__images2 .footer .footer__text span{
	display: block;
	text-align: right;
	font-size: 18rem;
}

.wrapper__images2 .footer .footer__text .mail{
	float: right;
	color: #fff;
	margin: 70rem 0 0 0;
}

.wrapper__images2 .footer .footer__text .footer__tel{
	float: right;
	font-size: 24rem;
	color: #fff;
}