/*Обнуление*/
*,
::before,
::after {
box-sizing: border-box;
}

html {
font-size: 0.0817vw; /* for width: 1224px;*/
padding: 0;
margin: 0;
width: 100%;
height: 100%;
}

body {
position: relative;
padding: 0;
margin: 0 0 0 0;
width: 100%;
font-size: 14rem;
font-family:'Noto Serif', serif;
}

.body{
	margin-bottom: 200px;
}

body:before {
width: 300px;
height: 100px;
background: red;
}

body:after {
width: 300rem;
height: 100rem;
background:#00ff0099;
}

body:before,
body:after {
content: "камертон";
position: fixed;
top: 10px;
left: 20px;
z-index: 1000000;
display: none;
}

li {
	list-style-type: none;
}
ul {
	margin-left: 0;
	padding-left: 0; 
}

/* @media */

@media screen and (min-width: 1140px) { /*экран больше 1224*/
html{
font-size: 1px;}
}

@media screen and (min-width: 1420px) and (max-width: 1680px){
	body .wrapper .container{
		width: 70%;
	}
	header .header__images {
		width: 480rem;
	}
	header .header__text{
		padding-top: 10rem;
	}
	header .header__text span{
		font-size: 26rem;
	}
	body .wrapper .container header .header__text .header__tel{
		font-size: 36px;
	}
	.content .main__content h1{
		width: 85%;
		font-size: 95rem;
		margin-bottom: 30px;
	}
	.content .main__content .content__text{
		width: 50%;
		font-size: 18rem;
	}
	.content .content__windows .content__text2{
		margin-top: -15rem;
		font-size: 42rem;
	}
	.content .content__windows .wrapper__windows .windows1 p{	
		margin-top: 20rem;
		font-size: 16rem;
	}
	.content .content__images .numbers p{
		font-size: 22rem;
	}
	.content .content__images .numbers .number .num{
		margin: -5rem 0 0 -35rem;
	}
	.content .content__images .forma{
		margin: -55% 0 0 0;
		text-align: center;
	}
	.content .content__images .forma .border form h3{
		font-size: 20rem;
	}
	.content .content__images .forma .border form p{
		font-size: 18rem;
	}
	.content .logo__container .logos .logo{
		margin-right: 85rem;
		margin-bottom: 120rem;
	}.content .logo__container .logos .logo p{
		font-size: 16rem;
	}
	.content .logo__container .logos :last-child {
		padding-right: 0rem;
		margin-right: 0rem;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -80px;
	}
	.body .wrapper__images2 .footer{
		width: 70%;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
		margin: 0 20px 0 10px;
		text-align: center;
	}
	body .wrapper__images2 .footer .footer__images{
		margin: 5rem 0 0 -130rem;
		height: 130rem;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		font-size: 26px;
		margin: -35rem 0 0 310rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 24px;
		margin: -100rem -125rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 22px;
		margin: -75rem -125rem 0 0;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1420px){
	body .wrapper .container{
		width: 80%;
	}
	header .header__images {
		width: 430rem;
	}
	header .header__text span{
		font-size: 24rem;
	}
	body .wrapper .container header .header__text .header__tel{
		font-size: 34px;
	}
	.content .main__content h1{
		width: 85%;
		font-size: 95rem;
		margin-bottom: 30px;
	}
	.content .main__content .content__text{
		width: 60%;
		font-size: 18rem;
	}
	.content .content__windows .wrapper__windows{
		width: 90%;
		margin: 0 auto;
	}
	.content .content__windows .wrapper__windows .windows1 p{	
		margin-top: 20rem;
		font-size: 16rem;
	}
	.content .content__images .numbers p{
		font-size: 20rem;
	}
	.content .content__images .numbers .number .num{
		margin: -5rem 0 0 -30rem;
	}
	.content .content__images .cards{
		margin: 0 0 130rem -30rem;
	}
	.content .content__images .forma{
		margin: -52% 5% 0 0;
		text-align: center;
	}
	.content .content__images .forma .border form h3{
		font-size: 20rem;
	}
	.content .content__images .forma .border form p{
		font-size: 18rem;
	}
	.content .logo__container .logos .logo{
		margin-right: 80rem;
		margin-bottom: 100rem;
	}
	.content .logo__container .logos .logo p{
		font-size: 16rem;
	}
	.content .logo__container .logos :last-child {
		padding-right: 0rem;
		margin-right: 0rem;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -100px;
	}
	.body .wrapper__images2 .footer{
		width: 90%;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
		margin: 0 20px 0 10px;
		text-align: center;
	}
	body .wrapper__images2 .footer .footer__images{
		margin: 5rem 0 0 -130rem;
		height: 130rem;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		font-size: 22px;
		margin: -30rem 0 0 180rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 26px;
		margin: -105rem -125rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 22px;
		margin: -75rem -125rem 0 0;
	}
}

@media screen and (min-width: 991px) and (max-width: 1279px){
	body .wrapper .container{
		width: 80%;
	}
	header .header__images {
		width: 530rem;
	}
	header .header__text{
		padding-top: 20rem;
	}
	header .header__text span{
		font-size: 30rem;
	}
	body .wrapper .container header .header__text .header__tel{
		font-size: 34px;
	}
	.content .main__content h1{
		width: 90%;
		font-size: 95rem;
		margin-bottom: 30px;
	}
	.content .main__content .content__text{
		width: 80%;
		font-size: 24rem;
	}
	.content .content__windows .wrapper__windows{
		width: 90%;
		margin: 0 auto;
	}
	.content .content__windows .wrapper__windows .windows1 p{	
		margin-top: 30rem;
		font-size: 16rem;
	}
	.content .content__images .numbers p{
		font-size: 28rem;
	}
	.content .content__images .numbers .number .num{
		margin: -5rem 0 0 -30rem;
	}
	.content .content__images .cards{
		margin: 0 0 180rem -20rem;
	}
	.content .content__images .forma{
		margin: -58% 8% 0 0;
		text-align: center;
	}
	.content .content__images .forma .border form h3{
		font-size: 26rem;
	}
	.content .content__images .forma .border form p{
		font-size: 24rem;
	}
	.content .logo__container .logos .logo{
		margin-right: 75rem;
		margin-bottom: 100rem;
	}
	.content .logo__container .logos h2{
		font-size: 30rem;
	}
	.content .logo__container .logos .logo p{
		font-size: 16rem;
	}
	.content .logo__container .logos :last-child {
		padding-right: 0rem;
		margin-right: 0rem;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -100px;
	}
	.body .wrapper__images2 .footer{
		width: 90%;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
		margin: 0 20px 0 10px;
		text-align: center;
	}
	body .wrapper__images2 .footer .footer__images{
		margin: 5rem 0 0 -130rem;
		height: 130rem;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		font-size: 22px;
		margin: -25rem 0 0 180rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 26px;
		margin: -105rem -125rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 22px;
		margin: -75rem -125rem 0 0;
	}
	body .popup .popup__body .popup__content{
		max-width: 810px;
		height: 850px;
		padding: 40rem ;
	}
	body .popup .popup__body{
		padding: 0;
	}
	body .popup .popup__body .popup__content .popup__close{
		right: 15px;
		top: 10px;
		font-size: 42px;
	}
	body .popup .popup__body .popup__content .popup__form h4{
		font-size: 56rem;
		margin: 5rem 0 10px 0;
	}
	body .popup .popup__body .popup__content .popup__form p{
		font-size: 40rem;
		margin: 0 0 20px 0;
	}
	body .popup .popup__body .popup__content .popup__form .name__input2{
		font-size: 36rem;
		height: 110rem;
		width: 760rem;
		margin: 0 20rem 35rem 60rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form .tel__input2{
		font-size: 36rem;
		height: 110rem;
		width: 760rem;
		margin: 0 20rem 35rem 60rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form select{
		font-size: 36rem;
		height: 110rem;
		width: 760rem;
		margin: 0 20rem 35rem 60rem;
		padding-left: 20px;
	}
	body .popup .popup__body .popup__content .popup__form option{
		font-size: 36rem;
		margin: 0 0 0 2.1875rem;
		max-width: 760rem;
	}
	body .popup .popup__body .popup__content .popup__form span{
		font-size: 26rem;
		margin: 10rem 0 40rem 0;
		letter-spacing: 1rem;
	}
	body .popup .popup__body .popup__content .popup__form .btn2{
		width: 600rem;
		height: 110rem;
		margin: 0 0.1875rem 0 0;
		font-size: 36rem;
	}
}

@media screen and (min-width: 840px) and (max-width: 990px){
	body .wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	header .header__text span{
		font-size: 30rem;
	}
	header .header__images {
		max-width: 340px;
	}
	.content .main__content h1{
		width: 100%;
		font-size: 110rem;
		text-align: center;
		margin-bottom: 30px;
	}
	.content .main__content .content__text{
		width: 80%;
		margin: 0 auto;
		text-align: center;
		font-size: 24rem;
	}
	.content .content__windows .wrapper__windows{
		width: 100%;
		padding: 0 0 0 20%;
		margin: 0 auto;
	}
	.content .content__windows .wrapper__windows .windows1 p{	
		margin-top: 30rem;
		font-size: 20rem;
	}
	.content .content__images .numbers p{
		font-size: 28rem;
	}
	.content .content__images .numbers .number .num{
		margin: -5rem 0 0 -56rem;
	}
	.content .content__images .cards{
		width: 100%;
		margin-bottom: 200rem;
	}
	.content .content__images .forma{
		margin:-65% 5% 0 0;
		text-align: center;
	}
	.content .logo__container .logos .logo{
		margin-right: 75rem;
	}
	.content .logo__container .logos h2{
		font-size: 30rem;
	}
	.content .logo__container .logos .logo p{
		font-size: 16rem;
	}
	.content .logo__container .logos :last-child {
		padding-right: 0rem;
		margin-right: 0rem;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -100px;
	}
	body .wrapper__images2 .footer{
		width: 90%;
		padding-top: 20px;
		margin: 0 auto;
		text-align: center;
	}
	body .wrapper__images2 .footer .footer__images{
		margin: 15rem 0 0 0;
		height: 150rem;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
		float: none;
		margin: 0 20px 0 10px;
		text-align: center;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		font-size: 24rem;
		margin: 130rem 0 0 410rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 18px;
		margin: 50rem -240rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 16px;
		margin: 80rem 70rem 0 0;
	}
	body .popup .popup__body .popup__content{
		max-width: 660px;
		height: 760px;
		padding: 40rem ;
	}
	body .popup .popup__body{
		padding: 0;
	}
	body .popup .popup__body .popup__content .popup__close{
		right: 10px;
		top: 2px;
		font-size: 36px;
	}
	body .popup .popup__body .popup__content .popup__form h4{
		font-size: 58rem;
		margin: 0 0 10px 0;
	}
	body .popup .popup__body .popup__content .popup__form p{
		font-size: 32rem;
		margin: 0 0 20px 0;
	}
	body .popup .popup__body .popup__content .popup__form .name__input2{
		font-size: 36rem;
		height: 100rem;
		width: 680rem;
		margin: 0 20rem 35rem 85rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form .tel__input2{
		font-size: 36rem;
		height: 100rem;
		width: 680rem;
		margin: 0 20rem 35rem 85rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form select{
		font-size: 36rem;
		height: 100rem;
		width: 680rem;
		margin: 0 20rem 35rem 85rem;
		padding-left: 20px;
	}
	body .popup .popup__body .popup__content .popup__form option{
		font-size: 36rem;
		margin: 0 0 0 2.1875rem;
	}
	body .popup .popup__body .popup__content .popup__form span{
		font-size: 22rem;
		margin: 10rem 0 40rem 0;
		letter-spacing: 1rem;
	}
	body .popup .popup__body .popup__content .popup__form .btn2{
		width: 510rem;
		height: 100rem;
		margin: 0 0 0 0;
		font-size: 26rem;
	}
}	

@media screen and (min-width: 768px) and (max-width: 840px){
	body .wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	header .header__images {
		max-width: 340px;
	}
	header .header__text{
		padding-top: 20rem;
	}
	header .header__text span{
		font-size: 30rem;
	}
	body .wrapper .container header .header__text .header__tel{
		font-size: 30px;
	}
	.content .main__content h1{
		width: 100%;
		font-size: 110rem;
		text-align: center;
		margin-bottom: 30px;
	}
	.content .main__content .content__text{
		width: 80%;
		margin: 0 auto;
		font-size: 24rem;
		text-align: center;
	}
	.content .content__windows .wrapper__windows{
		width: 100%;
		padding: 0 0 0 12%;
		margin: 0 auto;
	}
	.content .content__windows .wrapper__windows .windows1 p{	
		margin-top: 30rem;
		font-size: 20rem;
	}
	.content .content__images .numbers p{
		font-size: 28rem;
	}
	.content .content__images .numbers .number .num{
		margin: -5rem 0 0 -56rem;
	}
	.content .content__images .cards{
		width: 100%;
	}
	.content .content__images .forma{
		margin:-115% -3% 0 0;
		text-align: center;
	}
	.content .logo__container .logos h2{
		font-size: 30rem;
	}
	.content .logo__container .logos .logo{
		margin-right: 75rem;
	}
	.content .logo__container .logos .logo p{
		font-size: 16rem;
	}
	.content .logo__container .logos :last-child {
		padding-right: 0rem;
		margin-right: 0rem;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -180px;
	}
	body .wrapper__images2 .footer{
		max-width: 90%;
		padding-top: 20px;
		margin: 0 auto;
		text-align: center;
	}
	body .wrapper__images2 .footer .footer__images{
		margin: 15rem 0 0 0;
		height: 180rem;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
		float: none;
		margin: 0 20px 0 10px;
		text-align: center;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		float: none;
		font-size: 24rem;
		margin: 170rem 0 0 390rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 18px;
		margin: -70rem 70rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 16px;
		margin: 100rem 70rem 0 0;
	}
	body .popup .popup__body .popup__content{
		max-width: 660px;
		height: 760px;
		padding: 40rem ;
	}
	body .popup .popup__body{
		padding: 0;
	}
	body .popup .popup__body .popup__content .popup__close{
		right: 10px;
		top: 5px;
		font-size: 40px;
	}
	body .popup .popup__body .popup__content .popup__form h4{
		font-size: 62rem;
		margin: 25rem 0 10px 0;
	}
	body .popup .popup__body .popup__content .popup__form p{
		font-size: 36rem;
		margin: 0 0 20px 0;
	}
	body .popup .popup__body .popup__content .popup__form .name__input2{
		font-size: 40rem;
		height: 130rem;
		width: 810rem;
		margin: 0 20rem 40rem 70rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form .tel__input2{
		font-size: 40rem;
		height: 130rem;
		width: 810rem;
		margin: 0 20rem 40rem 70rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form select{
		font-size: 40rem;
		height: 130rem;
		width: 810rem;
		margin: 0 20rem 40rem 70rem;
		padding-left: 20px;
	}
	body .popup .popup__body .popup__content .popup__form option{
		font-size: 40rem;
		margin: 0 0 0 2.1875rem;
	}
	body .popup .popup__body .popup__content .popup__form span{
		font-size: 28rem;
		margin: 10rem 0 50rem 0;
		letter-spacing: 1rem;
	}
	body .popup .popup__body .popup__content .popup__form .btn2{
		width: 600rem;
		height: 130rem;
		margin: 0 0.1875rem 0 0;
		font-size: 40rem;
	}
}	

@media screen and (min-width: 641px) and (max-width: 767px){
	.content .main__content .content__text p {
		display:none;
	}
	.content .logo__container {
		display:none;
	}
	body .wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	header .header__text span{
		font-size: 18px;
	}
	header .header__images {
		max-width: 340px;
		margin: -5rem 0 0 -40rem;
	}
	.content .main__content h1{
		width: 100%;
		font-size: 110rem;
		text-align: center;
		margin-bottom: 30px;
	}
	body .wrapper .container .content .content__windows {
		margin: 0 auto;
		text-align: center;
	}
	body .wrapper .container .content .content__windows .wrapper__windows{
		padding: 0 15%;
		text-align: center;
	}
	body .wrapper .container .content .content__images .numbers{
		padding: 0 20% 0 20%;
		margin: 0 auto;
	}
	body .wrapper .container .content .content__images .numbers p{
		font-size: 40rem;
		margin-left: 50px;
	}
	body .wrapper .container .content .content__images .numbers .number{
		margin: 0;
	}
	.content .content__images .cards .card{
		margin: 0 100rem 50rem -100rem;
	}
	.content .content__images .cards .card .card2{
		margin: 200rem 100rem 0 665rem;
	}
	body .wrapper .container .content .content__images .forma{
		margin:-95% 10% 10% 26%;
		text-align: center;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -150px;
	}
	.body .wrapper__images2 .footer{
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	body .wrapper__images2 .footer .footer__images{
		margin: 20rem 0 0 -120rem;
		height: 180rem;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		font-size: 36rem;
		margin: -10rem 0 0 -80rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 16px;
		margin: -120rem -120rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 14px;
		margin: -80rem -120rem 0 0;
	}
	body .popup .popup__body .popup__content{
		max-width: 660px;
		height: 760px;
		padding: 40rem ;
	}
	body .popup .popup__body{
		padding: 0;
	}
	body .popup .popup__body .popup__content .popup__close{
		right: 10px;
		top: 5px;
		font-size: 40px;
	}
	body .popup .popup__body .popup__content .popup__form h4{
		font-size: 70rem;
		margin: 25rem 0 10px 0;
	}
	body .popup .popup__body .popup__content .popup__form p{
		font-size: 42rem;
		margin: 0 0 20px 0;
	}
	body .popup .popup__body .popup__content .popup__form .name__input2{
		font-size: 40rem;
		height: 130rem;
		width: 800rem;
		margin: 0 20rem 40rem 85rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form .tel__input2{
		font-size: 40rem;
		height: 130rem;
		width: 800rem;
		margin: 0 20rem 40rem 85rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form select{
		font-size: 40rem;
		height: 130rem;
		width: 800rem;
		margin: 0 20rem 40rem 85rem;
		padding-left: 20px;
	}
	body .popup .popup__body .popup__content .popup__form option{
		font-size: 40rem;
		margin: 0 0 0 2.1875rem;
	}
	body .popup .popup__body .popup__content .popup__form span{
		font-size: 28rem;
		margin: 10rem 0 60rem 0;
		letter-spacing: 1rem;
	}
	body .popup .popup__body .popup__content .popup__form .btn2{
		width: 600rem;
		height: 130rem;
		margin: 0 0.1875rem 0 0;
		font-size: 40rem;
	}
}
@media screen and (min-width: 482px) and (max-width: 640px){
	.content .main__content .content__text p {
		display:none;
	}
	.content .logo__container {
		display:none;
	}
	body .wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	header .header__text span{
		font-size: 18px;
	}
	header .header__images {
		max-width: 340px;
		margin: -5rem 0 0 -40rem;
	}
	.content .main__content h1{
		width: 100%;
		font-size: 110rem;
		text-align: center;
		margin-bottom: 30px;
	}
	body .wrapper .container .content .content__windows {
		margin: 0 auto;
		text-align: center;
	}
	body .wrapper .container .content .content__windows .wrapper__windows{
		width: 80%;
		padding: 0 0 0 14%;
		text-align: center;
	}
	body .wrapper .container .content .content__images .numbers{
		padding: 0 20% 0 20%;
		margin: 0 auto;
	}
	body .wrapper .container .content .content__images .numbers p{
		font-size: 40rem;
		margin-left: 50px;
	}
	body .wrapper .container .content .content__images .numbers .number{
		margin: 0;
	}
	.content .content__images .cards .card{
		margin: 0 100rem 50rem -100rem;
	}
	.content .content__images .cards .card .card2{
		margin: 200rem 100rem 0 590rem;
	}
	body .wrapper .container .content .content__images .forma{
		margin:-100% 15% 10% 0;
		text-align: center;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -150px;
	}
	.body .wrapper__images2 .footer{
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	body .wrapper__images2 .footer .footer__images{
		margin: 20rem 0 0 -120rem;
		height: 180rem;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		font-size: 36rem;
		margin: -10rem 0 0 -80rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 16px;
		margin: -120rem -120rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 14px;
		margin: -80rem -120rem 0 0;
	}
	body .popup .popup__body .popup__content{
		max-width: 640px;
		height: 720px;
		padding: 40rem ;
	}
	body .popup .popup__body{
		padding: 0;
	}
	body .popup .popup__body .popup__content .popup__close{
		right: 10px;
		top: 2px;
		font-size: 34px;
	}
	body .popup .popup__body .popup__content .popup__form h4{
		font-size: 74rem;
		margin: 0 0 10px 0;
	}
	body .popup .popup__body .popup__content .popup__form p{
		font-size: 46rem;
		margin: 0 0 20px 0;
	}
	body .popup .popup__body .popup__content .popup__form .name__input2{
		font-size: 40rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form .tel__input2{
		font-size: 40rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form select{
		font-size: 40rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 20px;
	}
	body .popup .popup__body .popup__content .popup__form option{
		font-size: 40rem;
		margin: 0 0 0 2.1875rem;
	}
	body .popup .popup__body .popup__content .popup__form span{
		font-size: 34rem;
		margin: 10rem 0 70rem 0;
		letter-spacing: 1rem;
	}
	body .popup .popup__body .popup__content .popup__form .btn2{
		width: 700rem;
		height: 160rem;
		margin: 0 0.1875rem 0 0;
		font-size: 50rem;
	}
}

@media screen and (min-width: 470px) and (max-width: 481px){
	.content .main__content .content__text p {
		display:none;
	}
	.content .logo__container {
		display:none;
	}
	body .wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	header .header__text span{
		font-size: 18px;
	}
	header .header__images {
		max-width: 340px;
		margin: -5rem 0 0 -40rem;
	}
	.content .main__content h1{
		width: 100%;
		font-size: 110rem;
		text-align: center;
		margin-bottom: 30px;
	}
	body .wrapper .container .content .content__windows {
		margin: 0 auto;
		text-align: center;
	}
	body .wrapper .container .content .content__windows .wrapper__windows{
		padding: 0 5%;
		text-align: center;
	}
	body .wrapper .container .content .content__images .numbers{
		padding: 0 20% 0 20%;
		margin: 0 auto;
	}
	body .wrapper .container .content .content__images .numbers p{
		font-size: 40rem;
		margin-left: 50px;
	}
	body .wrapper .container .content .content__images .numbers .number{
		margin: 0;
	}
	.content .content__images .cards .card{
		margin: 0 100rem 50rem -100rem;
	}
	.content .content__images .cards .card .card2{
		margin: 200rem 100rem 0 590rem;
	}
	body .wrapper .container .content .content__images .forma{
		margin:-120% 6% 10% 0;
		text-align: center;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -150px;
	}
	.body .wrapper__images2 .footer{
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	body .wrapper__images2 .footer .footer__images{
		margin: 20rem 0 0 -120rem;
		height: 180rem;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		font-size: 36rem;
		margin: -10rem 0 0 -80rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 16px;
		margin: -120rem -120rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 14px;
		margin: -80rem -120rem 0 0;
	}
	body .popup .popup__body .popup__content{
		max-width: 480px;
		height: 580px;
		padding: 40rem ;
	}
	body .popup .popup__body{
		padding: 0;
	}
	body .popup .popup__body .popup__content .popup__close{
		right: 10px;
		top: 2px;
		font-size: 28px;
	}
	body .popup .popup__body .popup__content .popup__form h4{
		font-size: 76rem;
		margin: 30rem 0 10px 0;
	}
	body .popup .popup__body .popup__content .popup__form p{
		font-size: 48rem;
		margin: 0 0 20px 0;
	}
	body .popup .popup__body .popup__content .popup__form .name__input2{
		font-size: 50rem;
		height: 170rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form .tel__input2{
		font-size: 50rem;
		height: 170rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form select{
		font-size: 50rem;
		height: 170rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 20px;
	}
	body .popup .popup__body .popup__content .popup__form option{
		font-size: 50rem;
		margin: 0 0 0 2.1875rem;
	}
	body .popup .popup__body .popup__content .popup__form span{
		font-size: 36rem;
		margin: 10rem 0 60rem 0;
		letter-spacing: 1rem;
	}
	body .popup .popup__body .popup__content .popup__form .btn2{
		width: 700rem;
		height: 160rem;
		margin: 0 0.1875rem 0 0;
		font-size: 40rem;
	}
}

@media screen and (min-width: 411px) and (max-width: 469px){
	.content .main__content .content__text p {
		display:none;
	}
	.content .logo__container {
		display:none;
	}
	body .wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	header .header__text span{
		font-size: 18px;
	}
	header .header__images {
		max-width: 340px;
		margin: -5rem 0 0 -40rem;
	}
	.content .main__content h1{
		width: 100%;
		font-size: 110rem;
		text-align: center;
		margin-bottom: 30px;
	}
	body .wrapper .container .content .content__windows {
		margin: 0 auto;
		text-align: center;
	}
	body .wrapper .container .content .content__windows .wrapper__windows{
		padding: 0 5%;
		text-align: center;
	}
	body .wrapper .container .content .content__images .numbers{
		padding: 0 20% 0 20%;
		margin: 0 auto;
	}
	body .wrapper .container .content .content__images .numbers p{
		font-size: 40rem;
		margin-left: 50px;
	}
	body .wrapper .container .content .content__images .numbers .number{
		margin: 0;
	}
	.content .content__images .cards .card{
		margin: 0 100rem 50rem -100rem;
	}
	.content .content__images .cards .card .card2{
		margin: 200rem 100rem 0 590rem;
	}
	body .wrapper .container .content .content__images .forma{
		margin:-120% 0 10% 28%;
		text-align: center;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -150px;
	}
	.body .wrapper__images2 .footer{
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	body .wrapper__images2 .footer .footer__images{
		margin: 20rem 0 0 -120rem;
		height: 180rem;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		font-size: 36rem;
		margin: -10rem 0 0 -80rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 16px;
		margin: -120rem -120rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 14px;
		margin: -80rem -120rem 0 0;
	}
	body .popup .popup__body .popup__content{
		max-width: 480px;
		height: 580px;
		padding: 40rem ;
	}
	body .popup .popup__body{
		padding: 0;
	}
	body .popup .popup__body .popup__content .popup__close{
		right: 10px;
		top: 2px;
		font-size: 28px;
	}
	body .popup .popup__body .popup__content .popup__form h4{
		font-size: 80rem;
		margin: 50rem 0 10px 0;
	}
	body .popup .popup__body .popup__content .popup__form p{
		font-size: 48rem;
		margin: 0 0 20px 0;
	}
	body .popup .popup__body .popup__content .popup__form .name__input2{
		font-size: 60rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form .tel__input2{
		font-size: 60rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form select{
		font-size: 60rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 20px;
	}
	body .popup .popup__body .popup__content .popup__form option{
		font-size: 60rem;
		margin: 0 0 0 2.1875rem;
	}
	body .popup .popup__body .popup__content .popup__form span{
		font-size: 36rem;
		margin: 10rem 0 70rem 0;
		letter-spacing: 1rem;
	}
	body .popup .popup__body .popup__content .popup__form .btn2{
		width: 700rem;
		height: 180rem;
		margin: 0 0.1875rem 0 0;
		font-size: 50rem;
	}
}

@media screen and (min-width: 360px) and (max-width: 410px){
	.content .main__content .content__text p {
		display:none;
	}
	.content .logo__container {
		display:none;
	}
	body .wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	header .header__images {
		max-width: 260px;
		padding-left: 120rem;
	}
	header .header__text{
		text-align: center;
		padding-right: 180rem;
	}
	header .header__text span{
		font-size: 16px;
	}
	body .wrapper .container header .header__text .header__tel{
		font-size: 20px;
	}
	.content .main__content h1{
		width: 100%;
		font-size: 110rem;
		text-align: center;
		margin: 30px 0 30px 0;
	}
	.content .main__content .content__button a{
		font-size: 16px;
		padding: 25px 50px;
	}
 	.content .content__windows .wrapper__windows{
		padding: 0 0 0 0;
		text-align: center;
	}
	.content .content__windows .wrapper__windows .windows1{
		margin-left: 10rem;
	}
	.content .content__images .numbers{
		padding: 0 10% 0 10%;
		margin: 0 auto;
	}
	.content .content__images .numbers p{
		font-size: 42rem;
		margin-left: 50px;
	}
	.content .content__images .numbers .number{
		margin: 0;
	}
	.content .content__images .cards .card{
		width: 150%;
		float: none;
		margin: 0 200rem 50rem -320rem;
	}
	body .wrapper .container .content .content__images .forma{
		margin:-110% -9% 10% 0;
		text-align: center;
		width: 342px;
		height: 450px;
		padding: 15px 15px;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -160px;
	}
	.body .wrapper__images2 .footer{
		width: 60%;
	}
	body .wrapper__images2 .footer .footer__images{
		float: none;
		margin: 8rem 0 0 120rem;
		height: 215rem;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		float: none;
		font-size: 36rem;
		margin: 158rem 0 0 -100rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 16px;
		margin: -135rem 80rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 14px;
		margin: 70rem 80rem 0 0;
	}
	body .popup .popup__body .popup__content{
		max-width: 390px;
		height: 505px;
		padding: 40rem ;
	}
	body .popup .popup__body{
		padding: 0;
	}
	body .popup .popup__body .popup__content .popup__close{
		right: 10px;
		top: 2px;
		font-size: 25px;
	}
	body .popup .popup__body .popup__content .popup__form h4{
		font-size: 80rem;
		margin: 55rem 0 10px 0;
	}
	
	body .popup .popup__body .popup__content .popup__form p{
		font-size: 48rem;
		margin: 0 0 15px 0;
	}
	body .popup .popup__body .popup__content .popup__form .name__input2{
		font-size: 56rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form .tel__input2{
		font-size: 56rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form select{
		font-size: 56rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 20px;
	}
	body .popup .popup__body .popup__content .popup__form option{
		font-size: 56rem;
		margin: 0 0 0 2.1875rem;
	}
	body .popup .popup__body .popup__content .popup__form span{
		font-size: 36rem;
		margin: 10rem 0 65rem 0;
		letter-spacing: 1rem;
	}
	body .popup .popup__body .popup__content .popup__form .btn2{
		width: 700rem;
		height: 180rem;
		margin: 0 0.1875rem 0 0;
		font-size: 46rem;
	}
}

@media screen and (max-width: 359px){
	.content .main__content .content__text p {
		display:none;
	}
	.content .logo__container {
		display:none;
	}
	body .wrapper .container{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	body .wrapper .wrapper__images1{
		background: url(../images/vashapomochmobilvers.jpg) no-repeat;
		min-width: 100%;
		top: 0px;
	}
	header .header__images {
		max-width: 260px;
	}
	header .header__text{
		text-align: center;
		padding-right: 120rem;
	}
	header .header__text span{
		font-size: 16px;
	}
	body .wrapper .container header .header__text .header__tel{
		font-size: 20px;
	}
	.content .main__content h1{
		width: 100%;
		font-size: 110rem;
		text-align: center;
		margin-top: 80rem;
		margin-bottom: 30px;
	}
	.content .main__content .content__button a{
		font-size: 14px;
		padding: 25px 50px;
	}
	.content .content__windows .wrapper__windows{
		width: 90%;
		text-align: center;
	}
	.content .content__images .numbers{
		padding: 0 10% 0 10%;
		margin: 0 auto;
	}
	.content .content__images .numbers p{
		font-size: 45rem;
		margin-left: 40px;
	}
	.content .content__images .numbers .number{
		margin: 0;
	}
	.content .content__images .cards .card{
		float: none;
		margin: 0 200rem 50rem -250rem;
	}
	.content .content__images .forma{
		margin:-130% -11% 10% 0;
		text-align: center;
		width: 312px;
		height: 435px;
		padding: 10px 10px;
	}
	body .wrapper__images2{
		position: absolute;
		bottom: -160px;
	}
	body .wrapper__images2 .footer{
		width: 60%;
	}
	body .wrapper__images2 .footer .footer__images{
		float: none;
		margin: 10rem 0 0 110rem;
		height: 220rem;
	}
	body .wrapper__images2 .footer .footer__text{
		width: 100%;
	}
	body .wrapper__images2 .footer .footer__text p{
		position: absolute;
		float: none;
		font-size: 40rem;
		margin: 230rem 0 0 -160rem;
	}
	body .wrapper__images2 .footer .footer__text .footer__tel{
		font-size: 16px;
		margin: -150rem 40rem 0 0;
	}
	body .wrapper__images2 .footer .footer__text .mail{
		font-size: 14px;
		margin: 100rem 0 0 -60rem;
	}
	body .popup .popup__body .popup__content{
		max-width: 330px;
		height: 490px;
		padding: 40rem ;
	}
	body .popup .popup__body{
		padding: 0;
	}
	body .popup .popup__body .popup__content .popup__close{
		right: 10px;
		top: 2px;
		font-size: 24px;
	}
	body .popup .popup__body .popup__content .popup__form h4{
		font-size: 80rem;
		margin: 50rem 0 10px 0;
	}
	body .popup .popup__body .popup__content .popup__form p{
		font-size: 58rem;
		margin: 0 0 20px 0;
	}
	body .popup .popup__body .popup__content .popup__form .name__input2, .tel__input2{
		font-size: 60rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form .tel__input2{
		font-size: 60rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 25px;
	}
	body .popup .popup__body .popup__content .popup__form select{
		font-size: 60rem;
		height: 180rem;
		width: 1000rem;
		margin: 0 50rem 60rem 75rem;
		padding-left: 20px;
	}
	body .popup .popup__body .popup__content .popup__form option{
		font-size: 60rem;
		margin: 0 0 0 2.1875rem;
	}
	body .popup .popup__body .popup__content .popup__form span{
		font-size: 42rem;
		margin: 10rem 0 70rem 0;
		letter-spacing: 1rem;
	}
	body .popup .popup__body .popup__content .popup__form .btn2{
		width: 700rem;
		height: 180rem;
		margin: 0 0.1875rem 0 0;
		font-size: 48rem;
	}
}



/*wrapper*/

.wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper .wrapper__images1{
	background: url(../images/Dizainvashapomos.gif) no-repeat;
	object-fit: cover;
	-o-object-fit: cover;
	width: 100%;
	top: 0px;
}

.wrapper .container{
	position: relative;
 	width: 60%;
	height: 100%;
	margin: 0 auto;
	z-index: 1;
}

/*header*/

.header{
	display: inline-block;
	width: 100%;
	margin: 13rem;
}

.header .header__images{
	float: left;
	display: block;
	min-width: 370rem;
	margin: -5rem 0 0 -40rem;
}

.header .header__text{
	float: right;
	display: block;
	margin: 50rem 0 0 0;
	font-size: 20px;
	color: #fff;
	font-family:'Noto Serif', serif;
}

.header .header__text span{
	display: block;
	text-align: right;
}

.header .header__text .header__tel{
	float: right;
	font-size: 26px;
	color:#dee4d5;
}

/*content*/

.content{
 	width: 100%;
	font-family:'Noto Serif', serif;
}

/*main__content*/

.main__content h1{
	display: block;
	width: 65%;
	padding: 0;
	text-align: left;
	font-size: 80rem;
	color: #fff;
	font-weight: 400;
	line-height: 115%;
	margin: 42px 0 30px 0;
}

.main__content .content__button a{
	color: #fff;
	text-decoration: none;
	outline: none;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.031rem;
}

.main__content .content__button a{
	display: inline-block;
	padding: 25px 55px;
	margin: 0 0 10rem 0;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	background-image: linear-gradient( to right,rgba(10,183,153,1) 0%,rgba(7,227,157,1) 50%,rgba(10,183,153,1) 100%);
	background-size: 200% auto;
	-webkit-background-size: 200% auto;
	-o-background-size: 200% auto;
	-moz-background-size: 200% auto;
	box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	-webkit-box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	-moz-box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	transition: .8s;
	-webkit-transition: .8s;
	-o-transition: .8s;
	-moz-transition: .8s;
}

.main__content .content__button a:hover {
	background-position: right center;
} 

.main__content .content__button a:active {
	background-image: linear-gradient( to right,rgb(8, 131, 110) 0%,rgb(8, 189, 131) 50%,rgba(8,131,110) 100%);
}

.main__content .content__text {
	display: block;
	font-size: 14rem;
	color: #d5dbce;
	width: 40%;
	padding: 0 0 30rem 0;
	text-transform: uppercase;
	font-family:'Noto Serif', serif;
	letter-spacing: -0.3px;
}

/*content__windows*/

.content__windows{
	width: 100%;
	margin-bottom: 20rem;
}

.content__windows .content__text2{
	font-size: 38px;
	color: #fff;
	padding: 0;
	margin: 0 0 0 0;
	font-family:'Noto Serif', serif;
}

.content__windows .wrapper__windows{
	display: inline-block;
	width: 80%;
	padding: 0 0 0 0;
}

.content__windows .wrapper__windows img{
	max-width: 47%;
	margin: 20px 0 0 -18px;
}

.content__windows .wrapper__windows p{
	display: inline-block;
	margin: 30px 0 0 0;
	width: 55%;
	max-height: 90%;
	color: #000;
	font-weight: 500;
	text-align: left;
	vertical-align: top;
	font-style: italic;
}

.content__windows .wrapper__windows .windows1{
	display: inline-block;
	width: 100%;
}

.content__windows .wrapper__windows .windows1 p{
	width: 57%;
	max-height: 80%;
}

.content__windows .wrapper__windows .windows1 .window__text{
	float: left;
	background-color: #fff;
	width: 225px;
	height: 130px;
	margin: 0 20px 20px 0;
	padding: 0 5rem 0 0;
	font-size: 14px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: bottom;
	font-family: 'Noto Serif', serif;
}

.content__windows .wrapper__windows .windows1 :last-child {
	margin-right: 0;
}

/*content__images*/

.content__images{
	width: 100%;
}

.content__images .numbers p{
	width: 60% ;
	font-size: 16rem;
	font-weight: 500;
	margin: 0 0 0 1.25rem;
	font-style: italic;
}

.content__images .numbers{
	width: 100%;
	vertical-align: top;
}

.content__images .number{
	float: left;
	margin: 0 100rem 100rem -20rem;
}

.content__images .numbers :last-child{
	margin-top: -10rem;
	margin-right: 0rem;
}

.content__images .number .num{
	margin-top: -5rem;
}

.content__images .number img{
	width: 100%;
}

.content__images .cards{
	float: left;
	width: 90%;
}

.content__images .cards .card{
	float: left;
	margin: 0 200rem 30rem -20rem;
}

.content__images .cards :last-child {
	margin-right: 0;
}

/*form*/

.content__images .forma{
	position: relative;
	float: right;
	display: block;
	margin: -540px 0 0 0;
	width: 330px;
	height: 460px;
	padding: 15px 15px;
	box-shadow: 15px 15px 30px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 15px 15px 30px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 15px 15px 30px 10px rgba(0, 0, 0, 0.13); 
	background-color: #fff;
	z-index: 2;
}

.content__images .forma .border{
	border: 2px dotted #858d9c;
	height: 100%;
	width: 100%;
}

.content__images .forma .border .form{
	height: 100%;
	margin: 0 auto;
	padding: 20rem;
}

.content__images .forma .border .form .name__input, .tel__input{
	background-color: #f7f3ff;
	margin: 0 0 20px 10rem;
	font-size: 16px;
	height: 40px;
	width: 240px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-style: italic;
	padding-left: 15px;
	border: none;
}

.content__images .forma .border .form input::-webkit-input-placeholder{
	color: #000;
}
.content__images .forma .border .form input::-moz-placeholder{
	color: #000;
}
.content__images .forma .border .form input:-moz-placeholder{
	color: #000;
}
.content__images .forma .border .form input:-ms-input-placeholder{
	color: #000;
}

.content__images .forma .border .form h3{
	font-size: 18px;
	margin: 0 0 5px 0;
	font-weight: 600;
	text-align: center;
}

.content__images .forma .border .form p{
	font-size: 14px;
	color: #9a9ea5;
	margin: 0 0 15px 0;
	text-align: center;
	font-style: italic;
}

.content__images .forma .border .form select{
	background-color: #f7f3ff;
	margin: 0 0 20px 10rem;
	font-size: 16px;
	height: 40px;
	width: 240px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-style: italic;
	padding-left: 10px;
	border: none;
}

.content__images .forma .border .form option{
	display: inline-block;
	font-size: 16px;
	margin: 0 0 0 2.1875rem;
	text-align: center;
	font-style: italic;
	z-index: 2000000;
}

.content__images .forma .border .form .checkbox__input{
	display: inline-block;
	margin: 0 0 0 0;
}

.content__images .forma .border .form .checkbox__label{
	font-size: 12rem;
	width: 40%;
}

.content__images .forma .border .form .checkbox__label a{
	color: rgba(10,183,153,1);
}

.content__images .forma .border .form .btn{
	color: #fff;
	text-decoration: none;
	outline: none;
	width: 250px;
	height: 60px;
	margin: 25rem 0.1875rem 0 0;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.031rem;
	font-style: normal;
	font-family:'Noto Serif', serif;
	border: none;
}

.content__images .forma .border .form .btn{
	display: inline-block;
	padding: 15px 25px;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	background-image: linear-gradient( to right,rgba(10,183,153,1) 0%,rgba(7,227,157,1) 50%,rgba(10,183,153,1) 100%);
	background-size: 200% auto;
	-webkit-background-size: 200% auto;
	-o-background-size: 200% auto;
	-moz-background-size: 200% auto;
	box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	-webkit-box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	-moz-box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486); 
	transition: .8s;
	-webkit-transition: .8s;
	-o-transition: .8s;
	-moz-transition: .8s;
}
	
.content__images .forma .border .form .btn:hover {
	background-position: right center;
} 

.content__images .forma .border .form .btn:active {
background-image: linear-gradient( to right,rgb(8, 131, 110) 0%,rgb(8, 189, 131) 50%,rgba(8,131,110) 100%);
}

/*logo__container*/

.logo__container{
	max-width: 100%;
	clear: both;
	margin-bottom: 8%;
}

.logo__container .logos{
	width: 100%;
} 

.logo__container .logos h2{
	font-size: 30rem;
	text-align: center;
	font-weight: 500;
	margin-bottom: 20rem;
}

.logo__container .logos .logo{
	display: inline-block;
	margin-right: 135rem;
	width: 180rem;
	height: 150rem ;
	text-align: center;
	vertical-align: top;
}

.logo__container .logos .logo img{
	height: 150rem;
}

.logo__container .logos p{
	
	width: 90%;
	font-size: 14rem;
	font-weight: 600;
	text-align: center;
}

.logo__container .logos :last-child {
	padding-right: 0rem;
	margin-right: 0rem;
}

/*footer*/

.wrapper__images2{
	background: url(../images/Pofdval.gif);
	background-repeat: no-repeat;
	position: absolute;
	margin-top: 30px;
	width: 100%;
	min-height: 173px;
	z-index: 5;
}

.wrapper__images2 .footer{
 	max-width: 60%;
	height: 100% ;
	margin: 0 auto;
	padding: 25px 0 0 0;
	z-index: 1;
}

.wrapper__images2 .footer .footer__images{
	float: left;
	display: block;
	margin: 10rem 0 0 0;
	max-width: 100%;
	height: 110rem;
}

.wrapper__images2 .footer .footer__text{
	float: right;
	width: 70%;
	height: 100%;
	right: 0;
	top: 0;
}

.wrapper__images2 .footer .footer__text p{
	float: left;
	font-size: 16rem;
	color: #fff;
	margin: 60rem 0 0 20rem;
}

.wrapper__images2 .footer .footer__text span{
	display: block;
	text-align: right;
	font-size: 18rem;
}

.wrapper__images2 .footer .footer__text .mail{
	float: right;
	color: #fff;
	margin: 50rem 0 0 0;
}

.wrapper__images2 .footer .footer__text .footer__tel{
	float: right;
	font-size: 24rem;
	color: #fff;
}

/*popup__form*/

.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;
	margin: 0 auto;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
}

.popup:target{
	opacity: 1;
	visibility: visible;
}

.popup .popup__body{
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 10px;
}

.popup .popup__body .popup__content{
   background-color: #233151;
   color: #fff;
   max-width: 650rem;
   height: 650rem;
   padding: 40rem;
   position: relative;
}

.popup .popup__body .popup__content .popup__close{
   position: absolute;
   color: #fff;
   right: 20px;
   top: 15px;
   font-size: 24px;
   text-decoration: none;
}

.popup .popup__body .popup__content .popup__form{
	margin: 0 auto;
}

.popup .popup__body .popup__content .popup__form h4{
	font-size: 38rem;
	margin: 10px 0 15px 0;
	font-weight: 600;
	text-align: center;
}

.popup .popup__body .popup__content .popup__form p{
	font-size: 22rem;
	color: #9a9ea5;
	margin: 0 0 30px 0;
	text-align: center;
}

.popup .popup__body .popup__content .popup__form .name__input2, .tel__input2{
	background-color: #f7f3ff;
	font-size: 18rem;
	height: 60rem;
	width: 570rem;
	margin-bottom: 30rem;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-style: italic;
	padding-left: 35px;
	border: none;
}

.popup .popup__body .popup__content .popup__form input::-webkit-input-placeholder{
	color: #000;
}
.popup .popup__body .popup__content .popup__form input::-moz-placeholder{
	color: #000;
}
.popup .popup__body .popup__content .popup__form input:-moz-placeholder{
	color: #000;
}
.popup .popup__body .popup__content .popup__form input:-ms-input-placeholder{
	color: #000;
}

.popup .popup__body .popup__content .popup__form select{
	background-color: #f7f3ff;
	font-size: 18rem;
	height: 60rem;
	width: 570rem;
	margin-bottom: 30rem;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-style: italic;
	padding-left: 30px;
	border: none;
}

.popup .popup__body .popup__content .popup__form option{
	display: inline-block;
	font-size: 18rem;
	margin: 0 0 0 2.1875rem;
	text-align: center;
	font-style: italic;
}

.popup .popup__body .popup__content .popup__form .checkbox__label2{
	font-size: 14rem;
	color: #9a9ea5;
}

.popup .popup__body .popup__content .popup__form .checkbox__label2 a{
	color: rgba(10,183,153,1);
}

.popup .popup__body .popup__content .popup__form .btn2{
	color: #fff;
	text-decoration: none;
	outline: none;
	width: 390rem;
	height: 70rem;
	margin: 40rem 0.1875rem 0 0;
	text-align: center;
	font-size: 18rem;
	font-weight: 500;
	letter-spacing: 0.031rem;
	font-style: normal;
	font-family:'Noto Serif', serif;
	border: none;
}

.popup .popup__body .popup__content .popup__form .btn2{
	display: inline-block;
	padding: 25rem 55rem;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	background-image: linear-gradient( to right,rgba(10,183,153,1) 0%,rgba(7,227,157,1) 50%,rgba(10,183,153,1) 100%);
	background-size: 200% auto;
	-webkit-background-size: 200% auto;
	-o-background-size: 200% auto;
	-moz-background-size: 200% auto;
	box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	-webkit-box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486);
	-moz-box-shadow: 0 1px 12px 0 rgba(203, 206, 212, 0.486); 
	transition: .8s;
	-webkit-transition: .8s;
	-o-transition: .8s;
	-moz-transition: .8s;
}
	
.popup .popup__body .popup__content .popup__form .btn2:hover {
	background-position: right center;
} 

.popup .popup__body .popup__content .popup__form .btn2:active {
background-image: linear-gradient( to right,rgb(8, 131, 110) 0%,rgb(8, 189, 131) 50%,rgba(8,131,110) 100%);
}